
/* Your CSS Code here. */
*{
	font-family:cursive;
}
h1{
	text-align:center;
}
p{
	text-align:center;
	font-size:15px;
}
nav{
	display:flex;
	justify-content:space-around;
}
a{
	text-decoration:none;
}